// variable , fonts and media query ranges



:root {

  --theme-color-light:#FFFFFF;
  --theme-color-highlight:#F56984;
  --theme-color-gray:#F2F3F7;

  --font-color-dark:#141414;
  --font-color-light:#888B92;
  --font-color-white:#fff;

}


$padding:0.9rem;
